<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>hello</h1>
    <!-- <p>Name <%=  locals.name %></p>
     -->

     <main>
        <h2>Contact form</h2>
        <form method="post" action="contact">
           <input type="text" name="name" id="" placeholder="name">
           <input type="email" name="email" id="" placeholder="email">
           <button type="submit">submit</button>
        </form>
     </main>
    
</body>
</html>